/* Imports de otros .SCSS*/
@import "./Partials/Variables";
@import "./Partials/Header";
@import "./Partials/Nav";
@import "./Partials/MainIndex";
@import "./Partials/MainNuestraHistoria";
@import "./Partials/Mercado";
@import "./Partials/MainRecetas";
@import "./Partials/MainNuestrosProductos";
@import "./Partials/MainContactenos";
@import "./Partials/Footer";
@import "./Partials/MediaQuerrysChicas";
@import "./Partials/MediaQuerrysGrandes";

/* Fin de Imports de otros .SCSS*/
/* Propiedades globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 /* Propiedades de todos los Main*/
.Main{
    background-color: rgb(7, 83, 13);
    background-image: url(../imagenes/FondoMain.png);
}
/* Fin de Propiedades de todos los Main*/
/* Fin de Propiedades globales*/


