/* Propiedades de los elementos del Footer*/
.Footer{
    align-items: baseline;
    /* Propiedades del texto Copyright*/
    &__Copyright {
        color: $Blanco;
        margin: 0 0 0 0.5em;
        font-size: 0.8em;
    }
    /* Fin de Propiedades del texto Copyright*/
    /*Propiedades de iconos informativos*/
    &__TamañoIconos--TAAC{
        width: ($porcentajetotal);
    }
    &__TamañoIconos--Kosher {
        width: ($porcentajetotal)-30;
    }
    /* Fin de Propiedades de iconos informativos*/
    /* Propiedades de iconos de Redes Sociales*/
    &__IconosRedes{
        display: inline-block;
        width: ($porcentajetotal);
        text-align: center;
        &--Animacion{
            display: block;
            color: $Blanco;
            line-height: 1.8em;
            font-size: 18px;
            transition: .2s;
        }
        &--Animacion:hover{
            transform: translate(0em) scale(1.05);
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
            filter: none;
        }
    }
    &__RedesSociales {
        margin: 0;
    }
    &__DivIconos {
        margin: 0 0 0 1em;
    }
    /* Fin de Propiedades de iconos de Redes Sociales*/
}
/* Fin de Propiedades de los elementos del Footer*/