.Footer{
    &__Copyright {
        color: $Blanco;
    }
    &__DifuminadoIconos {
        padding: 0;
        margin: 0;
    }
    &__TamañoIconos--TAAC{
        width: ($porcentajetotal);
    }
    &__TamañoIconos--Kosher {
        width: ($porcentajetotal);
    }
    &__IconosRedes{
        display: inline-block;
        width: ($porcentajetotal);
        text-align: center;
        &--Animacion{
            display: block;
            border-radius: ($porcentajetotal/2);
            background-color: #333;
            color: $Blanco;
            line-height: 1.8em;
            font-size: 18px;
            transition: .2s;
        }
        &--Animacion:hover{
            transform: translate(0em) scale(1.05);
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 4);
            filter: none;
        }
    }
}