/* Propiedades cambiadas en el Header*/
.Header{
    /* Tamaño de Logos */
    &__Logo{
        width: ($porcentajetotal);
    }
    &__Ancor{
        &--Promartie{
            width: 6em;
        }
     /* Fin de Tamaño de Logos */ 
     /*Ocultacion de Los Demas Logos*/
        &--Otros{
            display: none;
        }
    /*Fin de Ocultacion de Los Demas Logos*/
    }
}
/* Fin de Propiedades cambiadas en el Header */