.Main{
    &__Encabezado {
        font-family: math;
        letter-spacing: 0.8em;
        font-weight: 1000;
        font-style: italic;
    }
    &__CartasSuperiores{
        margin: 5% 0 5%;
    }
    &__CartasInferiores{
        margin: 0 0 5%;
    }
    &__TamañoCartas{
        margin: 0 0 10%;
        color: $Blanco;
     }
}
