/* Propiedades cambiadas en Seccion Contactenos*/
.Main {
        /* Propiedades de los textos en el formulario*/
    &__FormularioTexto {
        font-size: 1em;
        color: $Blanco;
        border: none;
        font-family: cursive;
        letter-spacing: 0.1em;
        }
        /* Fin de Propiedades de los textos en el formulario*/
        /* Propiedades del formulario*/
     &__FormularioTamaño{
        background-color: $Negro;
         border: solid;
        border-color: $BordesColor;
        padding: 2em;
        width: ($porcentajetotal)-20;
    }   
        /* Fin de Propiedades del formulario*/
        /* Propiedades de los imputs*/
    &__FormularioInput--Botones {
        width: 10em;
        height: 3em;
        border: solid $BordesColor 0.3em;
        background-color: $Negro;
        color: $Blanco;
        border-radius: ($porcentajetotal/5)-5;
    }
    &__FormularioInput{
        border-radius: 0.38em;
        margin: 1em;
        width: ($porcentajetotal/2);
        height: 2em;
        }
    &__FormularioInput--Textarea{
        height: 15em;
        width: ($porcentajetotal)-10;
        }
        /* Fin de Propiedades de los imputs*/    
}
/* Fin de Propiedades cambiadas en Seccion Contactenos*/