.Main {
    background-color: rgb(7, 83, 13);
    background-image: url(../IMAGENES/FondoMain.png);
    &__FormularioTexto {
        font-size: 1em;
        border: none;
        font-family: cursive;
        letter-spacing: 0.1em;
        }
     &__FormularioTamaño{
        background-color: $Negro;
        color: $Blanco;
         border: solid;
        border-color: forestgreen;
        padding: 2em;
        width: ($porcentajetotal)-20;
    }   
    &__FormularioInput--Botones {
        width: 10em;
        height: 3em;
        border: solid forestgreen 0.3em;
        background-color: $Negro;
        color: $Blanco;
        border-radius: ($porcentajetotal/5)-5;
    }
    &__FormularioInput{
        border-radius: 0.38em;
        margin: 1em;
        width: ($porcentajetotal/2);
        height: 2em;
        }
    &__FormularioInput--Textarea{
        height: 15em;
        width: ($porcentajetotal)-10;
        }    
}