@media only screen and (min-width: 992px){
    .Header__Ancor{
        width: ($porcentajetotal/10)+2;
    }
    .Main {
        &__ImagenHistoria{
            width:($porcentajetotal/2);
        }
        &__ParrafoHistoria{
            font-size: 0.8em;
        }
    }   
    .Footer{
        &__TamañoIconos--Kosher{
            width: ($porcentajetotal/2)-20;
        }
        &__TamañoIconos--TAAC{
            width:($porcentajetotal/2)-10;
        }
        &__IconosRedes{
            &--Animacion{
                line-height: 2em;
                width: ($porcentajetotal/2)-10;
            }
        }
    }
}
@media only screen and (min-width: 1200px){
    .Main{
        &__Mapa{
            width: ($porcentajetotal)-20;
            margin: 0em 0em 2em 8em;
        }
        &__TextoProductos{
            font-size:1.5em ;
         }
        &__TituloProductos{
            font-size: 2em;
            letter-spacing: 1em;
            padding: 1em 0em 1em 0em;
        }
        &__TituloHistoria{
            font-size: 2em;
            letter-spacing: 0.3em;
        }
        &__ParrafoHistoria{
            font-size: 1em;
        }
        &__TituloRecetas{
            font-size: 1.7em;
            letter-spacing: 0.3em;
        }
        &__CartaReceta {
            margin: 1em 1em 1em 1em;
        }
    }
}
@media only screen and (min-width: 1600px){
    .Header__Ancor{
        width: ($porcentajetotal/10)-3;
    }
    .Main{
        &__Mapa{
            width:($porcentajetotal)-20;
            margin: 0em 0em 2em 20em;
        } 
        &__TextoProductos{
            margin: 2em;
        } 
        &__TituloProductos{
            padding: 1em 0em 1em 3em;
            letter-spacing: 0.7 em;
        } 
        &__ParrafoHistoria{
            font-size: 1.3em;
        }     
    }
    .Footer{
        &__TamañoIconos--Kosher{
            width: ($porcentajetotal/4);
        }
        &__TamañoIconos--TAAC{
            width: ($porcentajetotal/4)+10;
        }
        &__IconosRedes{
            &--Animacion{
                line-height: 3em;
                width: ($porcentajetotal/2)-10;
            }
        }
    }  
}
@media only screen and (min-width: 2000px){
    .Main{
        &__ParrafoHistoria{
            letter-spacing: 0.4em;
        }
        &__TituloRecetas{
            font-size: 2em;
        }
        &__CartaReceta{
            width:($porcentajetotal)-20;
        }
    }
}