@media only screen and (min-width: 200px){
    .Footer{
        &__Copyright {
            text-align: center;
        }
        &__RedesSociales{
            text-align: center;
        }
    }
}
@media only screen and (min-width: 550px){
    .Header__Ancor{
        width:($porcentajetotal)-70 ;
    }   
    .Nav__Anuncio{
        height: 5em;
    }
    .Footer{
        &__TamañoIconos--Kosher{
            width: ($porcentajetotal/2);
        }
        &__TamañoIconos--TAAC{
            width: ($porcentajetotal)-30 ;
        }
        &__IconosRedes{
            &--Animacion{
                line-height: 2.6em;
            }
        }
    }
}
@media only screen and (min-width: 768px){
    .Header__Ancor{
        width:($porcentajetotal/5)-8;
    }   
    .Nav{
        &__Anuncio{
            display: none;
        }
        &__Botones--Altura1{
            top: 5em;
        }
        &__Botones--Altura2{
            top: 10em;
        }
        &__Botones--Altura3{
            top: 15em;
        }
        &__Botones--Altura4{
            top: 20em;
        }
        &__Botones--Altura5{
            top: 33em;
        }
    }
    .Main {
        &__CartasHistoria {
            width:($porcentajetotal)-20;
        }
        &__ParrafoHistoria{
            font-size: 1.1em;
        }
        &__SubtitulosRecetas{
            margin: 0em 0em 0em 1em;
        }
    }
    .Footer{
        &__TamañoIconos--Kosher{
            width:($porcentajetotal/2)-5;
        }
        &__TamañoIconos--TAAC{
            width:($porcentajetotal)-45;
        }
        &__IconosRedes{
            &--Animacion{
                line-height: 3.5em;
            }
        }
    } 
}