/* Propiedades cambiadas a partir de 550px*/
@media only screen and (min-width: 550px){
    /* Tamaño de los ancor en los logos*/
    .Header__Ancor{
        width:($porcentajetotal)-80 ;
    }
    /* Fin de Tamaño de los ancor en los logos*/   
    /* Tamaño del anuncio*/
    .Nav__Anuncio{
        height: 5em;
    }
    /* Fin de Tamaño del anuncio*/
    .Main{
        /* Contactenos */
        /* Tamaño y Bordes de Mapa */
        &__Mapa{
            width: 35em;
            margin: 0em;
            padding: 1em 0em 1em 3em;
        }
        /* Fin de Tamaño y Bordes de Mapa */
        /* Contactenos */
    }
    /* Tamaño de los iconos informativos*/
    .Footer{
        &__TamañoIconos--Kosher{
            width: ($porcentajetotal/2);
        }
        &__TamañoIconos--TAAC{
            width: ($porcentajetotal)-30 ;
        }
    }
    /* Tamaño de los iconos informativos*/
}
/* Fin de Propiedades cambiadas a partir de 550px*/
/* Propiedades cambiadas a partir de 768px*/
@media only screen and (min-width: 768px){
    .Header{
    /* Tamaño de los ancor en los logos*/
        &__Ancor{
            width:($porcentajetotal/5)-8;
    /* Fin de Tamaño de los ancor en los logos*/
    /*Aparicion de Los Demas Logos*/
        &--Otros{
            display: inline;
        }
    /*Fin de Aparicion de Los Demas Logos*/
        }
    }   
    .Nav{
        /* Eliminacion del anuncio*/
        &__Anuncio{
            display: none;
        }
        /* Fin de Eliminacion del anuncio*/
        /* Desplazamiento de botones*/
        &__Botones--Altura1{
            top: 5em;
        }
        &__Botones--Altura2{
            top: 10em;
        }
        &__Botones--Altura3{
            top: 15em;
        }
        &__Botones--Altura4{
            top: 20em;
        }
        &__Botones--Altura5{
            top: 33em;
        }
        /* Fin de Desplazamiento de botones*/
    }
    .Main {
        /* Nuestra Historia */
        /* Tamaño de cartas */
        &__CartasHistoria {
            width:($porcentajetotal)-20;
        }
        /* Fin de Tamaño de cartas */
        /* Tamaño de las letras */
        &__ParrafoHistoria{
            font-size: 1.1em;
        }
        /* Fin de Tamaño de las letras */
        /* Fin de Nuestra Historia */
        /* Recetas */
        /* Separacion de los subtitulos */
        &__SubtitulosRecetas{
            margin: 0em 0em 0em 1em;
        }
        /* Fin de Separacion de los subtitulos*/
        /* Fin de Recetas */
    }
    .Footer{
        /* Tamaño de los iconos informativos*/
        &__TamañoIconos--Kosher{
            width:($porcentajetotal/3);
        }
        &__TamañoIconos--TAAC{
            width:($porcentajetotal)-45;
        }
        /* Fin de Tamaño de los iconos informativos*/
        /* Propiedades de iconos de Redes Sociales*/
        .RedesContainer {
            width: 3em;
        }
        /* Fin de Propiedades de iconos de Redes Sociales*/
    } 



    
}
/* Fin de Propiedades cambiadas a partir de 768px*/