.Nav{
    background-color: #074b2b;
    background-image: url(../IMAGENES/FondoNav.png);
    align-items: baseline;
    &__Anuncio{
        width: ($porcentajetotal);
        height: 3em;
    }
    &__Dimensiones {
        height: ($porcentajetotal);
        width: ($porcentajetotal);
        &--Ul {
            height: ($porcentajetotal);
            width: ($porcentajetotal);
        }
    }
    &__Botones{
        padding: 1em;
        color: $Blanco;
    }
    &__MenuDesplegable { 
        position: relative;
    }
    &__MenuDesplegable.show{ 
        top: 0em;
    }
}
.btn-dark{
    color: $Blanco !important;
}